/* 
* The tokens file only contains "tokens" and leaves out the tailwind declaration and other imports
* that the globals.css imports.
*/
@import "tailwindcss";

@theme {
  /* _TODO: custom tokens... */
  --color-blue-1000: #2a8af6;
  --color-purple-1000: #a853ba;
  --color-red-1000: #e92a67;

  /* shadcn-tokens */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    @apply text-[14px] max-md:text-[12px];
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .debug {
    @apply border border-red-500;
  }
  .debug-y {
    @apply border border-yellow-500;
  }
  .debug-g {
    @apply border border-green-500;
  }
  button {
    cursor: pointer;
  }

  .container,
  [datatype="container"] {
    @apply mx-auto max-w-4xl;
  }
  .container-5xl,
  [datatype="container-5xl"] {
    @apply mx-auto max-w-5xl;
  }
  .container-6xl,
  [datatype="container-6xl"] {
    @apply mx-auto max-w-6xl;
  }
  .container-7xl,
  [datatype="container-7xl"] {
    @apply mx-auto max-w-7xl;
  }
  .container-8xl,
  [datatype="container-8xl"] {
    @apply mx-auto max-w-[1024px];
  }
}
