@layer base {
  h1 {
    /* Same as: font-size: var(--text-5xl); font-weight: 700; line-height: 1.1; */
    @apply text-5xl/[1.1] font-[800];
  }
  h2 {
    @apply text-4xl/[1.2] font-bold;
  }
  h3 {
    @apply text-3xl/[1.3] font-[600];
  }
  h4 {
    @apply text-2xl/[1.4] font-medium;
  }
  h5 {
    @apply text-xl font-medium;
  }
  h6 {
    @apply text-lg font-medium;
  }
  p {
    @apply text-base/5;
  }
  .caption {
    font-size: var(--text-sm);
    color: var(--text-secondary);
  }
}
