/* TailwindCSS tokens */
@theme {
  --font-Geist: "Geist";
  --font-GeistMono: "Geist Mono";
  --font-InterV: "InterV";
  --font-Axiforma: "Axiforma";
  --font-FKGrotesk: "FKGrotesk";
  --font-FKGroteskNeue: "FKGrotesk Neue";
  --font-Lexend: "Lexend";
  --font-PPEditorialItalic: "PPEditorial Italic";
  --font-PPEditorialVar: "PPEditorial Var";
  --font-ABeeZee: "ABeeZee";
  --font-SohneVar: "Sohne Var";
  --font-Archivo: "Archivo";
  --font-GTWalsheim: "GT Walsheim";
  --font-UntitledSansB: "Untitled Sans Bold";
  --font-UntitledSansR: "Untitled Sans Regular";
  --font-MSaans: "M Saans";
  --fontCabinetGrotesk: "Cabinet Grotesk";
  --font-CalSans: "Cal Sans";
  --font-FunnelDisplay: "Funnel Display";
  --font-SeriouslyNostalgic: "Seriously Nostalgic";
  --font-JetBrainsMono: "JetBrains Mono";
  --font-MartianGrotesk: "Martian Grotesk";
  --font-WFSans: "WF Sans";
}

/* Font-face declarations
* Variable Fonts
*/
@font-face {
  font-family: Geist;
  src: url("./var/geist/Geist[wght].ttf");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./var/geist/GeistMono[wght].ttf");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: InterV;
  src: url("./var/InterVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("./var/FunnelDisplay-VariableFont_wght.ttf")
    format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("./var/jetbrains-mono.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Martian Grotesk";
  src: url("./var/martian-grotesk.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "WF Sans";
  src: url("./var/WFVisualSansVF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "M Saans";
  src: url("./var/M Saans.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "FKGrotesk";
  src: url("./var/FKGrotesk.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "FKGrotesk Neue";
  src: url("./var/FKGroteskNeue.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("./var/Lexend-var.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "PPEditorial Italic";
  src: url("./var/PPEditorialNew-ItalicVariable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "PPEditorial Var";
  src: url("./var/PPEditorialNew-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Sohne Var";
  src: url("./var/Söhne VF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./var/CabinetGrotesk-Variable.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

/*
* Non-variable fonts
*/
@font-face {
  font-family: Axiforma;
  src: url("./non-var/axiforma.woff2") format("woff2");
  font-weight: 400 600 900;
  font-display: swap;
}

@font-face {
  font-family: "Seriously Nostalgic";
  src: url("./non-var/SeriouslyNostalgicItal-Reg.otf");
  font-weight: 400 600 900;
  font-display: swap;
}

@font-face {
  font-family: "Cal Sans";
  src: url("./non-var/CalSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ABeeZee";
  src: url("./non-var/ABeeZee.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("./non-var/archivo.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("./non-var/GT Walsheim.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Untitled Sans Bold";
  src: url("./non-var/Untitled Sans - Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Untitled Sans Regular";
  src: url("./non-var/Untitled Sans - Regular.woff2") format("woff2");
  font-display: swap;
}
