@import "tailwindcss";
@import "../utils/styles/code-scrollbars.css";

@import "@_ndk/ui/tokens";
@import "@_ndk/ui/fonts";
@import "@_ndk/ui/typography";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

/* theme for your app & ndk ui components: provided by @_ndk/ui  */
@import "@_ndk/ui/themes/neutral.css";

:root {
  --nav-height: 48px;
  --banner-height: 3rem;
  --footer-height: 50px;
  --gutter-x: 2rem;
}

@layer base {
  p > code,
  li > code {
    @apply text-[0.86rem]!;

    html {
      scroll-behavior: smooth;
    }
  }

  /* code-block */
  [data-slot="codeblock-viewport"] {
    counter-reset: line;
  }

  [data-slot="codeblock-viewport"] .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 2rem;
    margin-right: 0.7rem;

    @apply bg-background text-foreground/40 dark:text-foreground/10! sticky left-0 text-center select-none;
  }
}
