@import "tailwindcss";

@import "@_ndk/ui/tokens";
@import "@_ndk/ui/fonts";
@import "@_ndk/ui/typography";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

/* theme for your app & ndk ui components: provided by @_ndk/ui  */
@import "@_ndk/ui/themes/neutral.css";

:root {
  --nav-height: 48px;
  --banner-height: 3rem;
  --footer-height: 50px;
  --gutter-x: 2rem;
}

@layer base {
  p > code,
  li > code {
    @apply text-[0.88rem]!;
  }

  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-collapsible-down {
    animation: collapsible-down 0.5s ease-out;
  }
  .animate-collapsible-up {
    animation: collapsible-up 0.5s ease-out;
  }
}
