@import "tailwindcss";

@import "@_ndk/ui/tokens";
@import "@_ndk/ui/fonts";

@import "fumadocs-ui/css/dusk.css";
@import "fumadocs-ui/css/preset.css";

/* theme for your app & ndk ui components: provided by @_ndk/ui  */
@import "@_ndk/ui/themes/neutral.css";

:root {
  --nav-height: 48px;
}
