/**
 * Main stylesheet for @_ndk/ui. 
 *
 * Note: The components exported by this package come with pre-compiled css. But they rely
 * on your app's twcss setup to work.
 */

@import "tailwindcss";
@import "./tokens.css";
@import "../utils/styles/themes/neutral.css";
